<div 
  fxLayout="column" 
  style="
    height: 100vh; 
    background-image: url('https://res.cloudinary.com/manor-assignment/image/upload/o_30/v1532807895/hasoffers-networks-integration/mainBackground.jpg');
    background-size: cover;">
  <div fxLayout="row" fxLayoutAlign="space-between end" style="height: 90vh; padding: 100px" >
    <a routerLink="network"><button mat-stroked-button color="primary">HasOffers to HasOffers</button></a>
    <a routerLink="affiliate"><button mat-stroked-button color="primary">I'm an Affiliate</button></a>
  </div>
</div>